<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
        <!--1、设置四本一言  -->
        <!--四本一言 四大基本项： 1、驱动类名 2、指明需要连接的url 3、用户名 4、密码 Hibernate支持不同的数据库，但是每种数据库语法可能有区别，可以使用方言,注意版本 -->
        <!--数据库驱动类全称  -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <!--数据库url地址  -->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:ORCL</property>
        <!--用户名  -->
        <property name="hibernate.connection.username">c##scott</property>
        <!--密码  -->
        <property name="hibernate.connection.password">m123</property>
        <!--方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <!--2、全局配置信息  -->
        <!--执行DDL的类别：
        create:每次都删除新建
        update:存在就修改，不存在就新建  -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--是否显示SQL语句  -->
        <property name="hibernate.show_sql">true</property>
        <!--是否格式化SQL语句  -->
        <property name="hibernate.format_sql">true</property>
        <!-- 启用getCurrentSession，默认未启用 -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--3、加载配置文件  -->
        <!--基于xml映射文件： 映射文件加载。路径 -->
		<mapping resource="com/hsp/domain/Person.hbm.xml"/>
		<mapping resource="com/hsp/domain/IdCard.hbm.xml"/>
	
</session-factory>
</hibernate-configuration>